<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../common/head', {title: title}); %>
</head>
<body>

<div class="container main mt-5">
    <%- include('../common/go-to-home'); %>

    <div class="row">
        <div class="col-sm mt-5">
            <form class="js-submit" method="post" action="/login-with-2fa/login-with-2fa-page-reload-password-page">
                <h2>Sign Up</h2>
                <div class="form-group">
                    <label for="exampleInputEmail2">Enter code</label>
                    <input type="number" name="code" class="form-control" placeholder="Enter 2fa code">
                </div>
                <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
