<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../common/head', {title: title}); %>

    <link rel="stylesheet" href="/style/style.css">
</head>
<body>

<div class="container main mt-5">
    <%- include('../common/go-to-home'); %>

    <div class="row">
        <div class="col-sm mt-5">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Page under construction!</h4>
            </div>
        </div>
    </div>
</div>

</body>
</html>
